body, body * {
  @include font;
}

.title-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  justify-content: center;
  @include site-container;

  h1 {
    margin: 10px 0;
  }

  .family {
    border-radius: 200px;
    height: 200px;
    margin: 10px 0;
    width: 200px;
  }
}

.break {
  border-bottom: 1px solid $resume-gray;
}

.news-container {
  display: flex;
  flex-flow: row wrap;
  @include site-container;

  .news-column {
    text-align: justify;
    margin: 20px;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
  }

  .news-image {
    display: flex;
    justify-content: center;

    img {
      height: 150px;
      width: 150px;
    }
  }

}

.achievement-container,
.experience-container,
.education-container,
.bread-butter {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  @include site-container;

  > * {
    flex-basis: $resume-site-width / 2;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: justify;
  }


  .left {
    text-align: center;
  }

  .right p {
    margin-left: 10px;
  }


  img.bread {
    width: 300px;
    height: 201px;
  }

  img.achievement {
    margin-top: 20px;
    height: 200px;
    width: 200px;
  }

  img.education {
    opacity: .7;
  }
}

.experience-container {
  margin-top: 30px;
}

ul.degrees {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

li.degree {
  margin: 10px 0;
  display: flex;

  .right,
  .left {
    display: flex;
    flex-basis: 100px;
  }

  .left {
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
  }

  .right {
    flex-grow: 1;
    margin-left: 10px;
    justify-content: center;
    flex-direction: column;
  }

  .title {
    margin-top: 5px;
  }

  img.cpp {
    opacity: .7;
  }
}

.experience-container {
  ul.exp-list {
    list-style-type: none;
    margin-left: 0;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
  }

  li.exp-item {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 220px;
    display: flex;
    align-items: center;
    transition: all, linear, 250ms;
    position: relative;

    .container {
      position: relative;
      margin: 20px auto;
      width: 200px;
      height: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background: white;
      box-shadow: 0 7px 25px -4px $resume-gray;
      border: 1px solid rgba($resume-gray, .5);

      transition: all, linear, 250ms;

      &:hover {
        border-color: $resume-gray;
        // box-shadow: 0 7px 15px -6px $resume-gray;
      }

      img {
        margin: 10px 0;
        max-height: 60px;
        max-width: auto;
      }
    }

    &.active {
      // flex-basis: 100%;
      // align-items: flex-start;
      // justify-contents: flex-start;
      // height: 300px;
      // order: -1;

      .container {
        border-color: goldenrod;
        box-shadow: 0 7px 25px -4px goldenrod;
        // height: 280px;
        // width: 100%;
        // margin: 20px;
      }
    }
  }
}

.achievement-container {

  img.achieve {
    height: 200px;
    width: auto;
    margin-top: 40px;
  }

  img.spur,
  img.parisoma {
    border-radius: 2px;
    width: 300px;
    height: auto;
  }

}

ul.achievement-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.achievement {
  display: flex;
  margin: 40px 0;

  > * {
    flex-basis: 300px;
  }

  .left {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
  }

  .right.image-side {
    text-align: center;
    margin-left: 40px;
  }

  .not-image {
    flex-grow: 1;
  }

}
