body, body * {
  @include font;
}

.title-container {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-bottom: 10px;
  -webkit-justify-content: center;
  justify-content: center;
  @include site-container;

  h1 {
    margin: 10px 0;
  }

  .family {
    border-radius: 200px;
    height: 200px;
    margin: 10px 0;
    width: 200px;
  }
}

.break {
  border-bottom: 1px solid $resume-gray;

  &.break-site {
    border-color: $resume-light-gray;
    @include site-container;
    margin-bottom: 0;
  }
}

.news-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  @include site-container;

  .news-column {
    text-align: justify;
    margin: 20px;
    -webkit-flex-basis: 200px;
    flex-basis: 200px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
  }

  .news-image {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;

    img {
      height: 150px;
      width: 150px;
    }
  }

}

.achievement-container,
.experience-container,
.education-container {
  @include site-container;
}

.achievement-header,
.experience-header,
.education-header,
.bread-butter {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  @include site-container;

  > * {
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    text-align: justify;
  }

  // @media screen and(max-width: 900px) {
  //   > * {
  //     -webkit-flex-basis: 100%;
  //     flex-basis: 100%;
  //     -webkit-flex-shrink: 1;
  //     flex-shrink: 1;
  //   }
  // }


  .left {
    text-align: center;
  }

  .right p {
    margin: 0 10px;
  }


  img.bread {
    width: 300px;
    height: 201px;
  }
  img.achieve {
    height: 200px;
    width: auto;
    margin-top: 40px;
  }
  img.brain {
    margin-top: 20px;
  }
  img.education {
    opacity: .7;
  }
}

ul.degrees {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

li.degree {
  margin: 10px 0;
  display: -webkit-flex;
  display: flex;

  .right,
  .left {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-basis: 100px;
    flex-basis: 100px;
  }

  .left {
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .right {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin-left: 10px;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .title {
    margin-top: 5px;
  }

  img.cpp {
    opacity: .7;
  }
}

.experience-container {
  margin-top: 30px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap-reverse;
  flex-flow: row wrap-reverse;

  ul.exp-list {
    list-style-type: none;
    margin-left: 0;
    -webkit-flex-basis: 440px;
    flex-basis: 440px;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;

    transition: all, linear, 400ms;

    &.curious {
      width: 50%;
    }
  }

  li.exp-item {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: 220px;
    flex-basis: 220px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    transition: all, linear, 250ms;
    position: relative;

    .container {
      position: relative;
      margin: 20px auto;
      width: 200px;
      height: 120px;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      background: white;
      box-shadow: 0 7px 25px -4px $resume-gray;
      border: 1px solid rgba($resume-gray, .5);

      transition: all, linear, 250ms;

      &:hover {
        border-color: $resume-gray;
      }

      img {
        margin: 10px 0;
        max-height: 60px;
        max-width: auto;
      }

      &.active {
        border-color: goldenrod;
        box-shadow: 0 7px 25px -4px goldenrod;
      }
    }
  }

}

.exp-detail {
  width: 0px;
  opacity: 0;
  overflow: hidden;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  margin-top: 40px;
  padding-left: 20px;

  transition: all, linear, 1000ms;

  .expand-container {
    -webkit-align-items: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid $resume-light-gray;
    display: -webkit-flex;
    display: flex;
    height: 30px;
    -webkit-justify-content: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    width: 100px;

    transition: all, linear, 250ms;

    .text {
      color: $resume-light-gray;
      cursor: default;
    }
  }

  &.curious {
    width: 400px;
    opacity: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

  &:hover .expand-container {
    opacity: 1;
    visibility: visible;
  }

  &.ness {
    width: 100%;

    .expand-container {
      height: 0;
      opacity: 0;
      visibility: hidden;
    }
  }

  .detail-bits {
    margin: 0 10px;
    text-align: justify;
  }

  .detail-links-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .detail-img,
  .detail-link-item img {
    margin: 10px;
    height: 60px;
    width: auto;
  }
}

.achievement-container {
  img.spur,
  img.parisoma {
    border-radius: 2px;
    width: 300px;
    height: auto;
  }

}

ul.achievement-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.achievement {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 40px 0;

  > * {
    -webkit-flex-basis: 300px;
    flex-basis: 300px;
  }

  .left {
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: justify;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .right.image-side {
    width: 100%;
    text-align: center;
    margin-left: 40px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

  .not-image {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

  img.mvp {
    height: 60px;
    width: auto;
  }

}
