@mixin font($color: $resume-font-color) {
  color: $color;
  font: {
    family: $resume-font-family;
  }
}

@mixin site-container($width: $resume-site-width) {

  margin: 0 auto;
  margin-bottom: 30px;
  max-width: $width;
  width: 100%;

}
