// Colors
$resume-blue: #486cec;
$resume-dark-blue: #0c0042;
$resume-font-color: #444;
$resume-gray: #aaa;
$resume-light-gray: #ccc;

// Font
$resume-font-family: "Courier New", Courier, monospace;

// Metrics
$resume-site-width: 1000px;
