!!!
%html
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge,chrome=1', 'http-equiv': 'X-UA-Compatible'}/

    %title Taylor Stackpole

    %meta{description: 'My resume', name: 'Resume'}/
    %meta{content: 'width=device-width', name: 'viewport'}/

    %link{href: 'temp/styles/main.css', rel: 'stylesheet'}/
    %script{src: 'bower_components/jquery/jquery.min.js'}/
    %script{src: 'bower_components/jquery-smooth-scroll/jquery.smooth-scroll.min.js'}/
    %script{src: 'src/scripts/index.js'}/

  %body

    .title-container
      %img.family{src: "src/images/papa_bear.JPG"}
      %p hi, I'm
      %h1 Taylor Stackpole
      %p and I like to code

    .break

    .bread-butter
      .left
        %img.bread{src: "src/images/bread_butter.png"}

      .right
        %h2.title Bread and butter?
        %p Easily HTML5, JavaScript, and CSS3. I create, contribute to, and maintain web applications with them. These tools have allowed me to breathe life into creative designs from creative designers. I'm a stickler for standards and always refer to the World Wide Web Consortium (W3C) for standards and conventional practices in web development. That said, I am not opposed to a last minute hack before a deployment schedule. Or Easter Eggs. Grinning for either.

    .news-container
      .news-column
        .news-image
          %img.sass{src: "src/images/html5-large.png"}
        %p HTML can be very nice to use when cleaned up with an abstraction layer or other sweet templating engine. I spend most of my time inside Haml templates but have come to appreciate other markup languages like, Jade, and Jinja which also allow a variety of logic from the application architecture's native language. This website was created with Haml using grunt-haml for compilation.

      .news-column
        .news-image
          %img.javascript{src: "src/images/javascript-large.png"}
        %p I have coded in javascript or some other abstraction layer more than any other coding / scripting language. Learning JavaScript (es5) came to me by way of learning  CoffeeScript and LiveScript. My first raw JavaScript web application was written well after my involvement with multiple production-level CoffeeScript / LiveScript web apps. The most recent applications I have worked on are utilizing the bleeding-edge JavaScript (es6) syntax. This specific website was written using plain ol' JavaScript (es5).

      .news-column
        .news-image
          %img.sass{src: "src/images/css3-large.png"}
        %p I heart this stuff. This is where the lines merge between art and math, and the fastest way for a browser to understand what the heck it's supposed to show you. With JavaScript, HTML5, and CSS3, I can make just about anything you can think of. This website was created with Sass using grunt-contrib-sass for compilation. In fact, if your browser doesn't support flex, this whole site looks broken!

  .break

  .experience-header
    .left
      %img.brain{src: "src/images/brain.png"}

    .right
      %h2.title Experience?
      %p Aside from the&#32;
        %i Bread and Butter,&#32;
        %span I have found myself using and creating all types of tools; Frameworks, revision, testing, open source modules, and the like. Here are some things I have used in a professional, workplace environment:

  %a#exp-top{href: "#exp-top"}
  .experience-container
    %ul.exp-list

      %li.exp-item
        .container{data-hmm: "javascript"}
          .top
            %img.exp-image{src: "src/images/javascript.png"}

          .bottom
            %strong.title Javascript
            %p.text

      %li.exp-item
        .container{data-hmm: "html5"}
          .top
            %img.exp-image{src: "src/images/html5.png"}

          .bottom
            %strong.title HTML5
            %p.text

      %li.exp-item
        .container{data-hmm: "css3"}
          .top
            %img.exp-image{src: "src/images/css3.png"}

          .bottom
            %strong.title CSS3
            %p.text

      %li.exp-item
        .container{data-hmm: "python"}
          .top
            %img.exp-image{src: "src/images/python.png"}

          .bottom
            %strong.title Python
            %p.text

      %li.exp-item
        .container{data-hmm: "backbone"}
          .top
            %img.exp-image{src: "src/images/backbone.png"}

          .bottom
            %strong.title Backbone.js
            %p.text

      %li.exp-item
        .container{data-hmm: "chaplin"}
          .top
            %img.exp-image{src: "src/images/chaplin.png"}

          .bottom
            %strong.title Chaplin.js
            %p.text

      %li.exp-item
        .container{data-hmm: "coffee"}
          .top
            %img.exp-image{src: "src/images/coffee.png"}

          .bottom
            %strong.title CoffeeScript
            %p.text

      %li.exp-item
        .container{data-hmm: "live"}
          .top
            %img.exp-image{src: "src/images/live.png"}

          .bottom
            %strong.title LiveScript
            %p.text

      %li.exp-item
        .container{data-hmm: "haml"}
          .top
            %img.exp-image{src: "src/images/haml.png"}

          .bottom
            %strong.title Haml
            %p.text

      %li.exp-item
        .container{data-hmm: "jade"}
          .top
            %img.exp-image{src: "src/images/jade.png"}

          .bottom
            %strong.title Jade
            %p.text

      %li.exp-item
        .container{data-hmm: "ruby"}
          .top
            %img.exp-image{src: "src/images/ruby.png"}

          .bottom
            %strong.title Ruby
            %p.text

      %li.exp-item
        .container{data-hmm: "jinja"}
          .top
            %img.exp-image{src: "src/images/jinja.png"}

          .bottom
            %strong.title Jinja
            %p.text

      %li.exp-item
        .container{data-hmm: "flask"}
          .top
            %img.exp-image{src: "src/images/flask.png"}

          .bottom
            %strong.title Flask
            %p.text

      %li.exp-item
        .container{data-hmm: "sqlalchemy"}
          .top
            %img.exp-image{src: "src/images/sqlalchemy.png"}

          .bottom
            %strong.title SQLAlchemy
            %p.text

      %li.exp-item
        .container{data-hmm: "django"}
          .top
            %img.exp-image{src: "src/images/django.png"}

          .bottom
            %strong.title Django
            %p.text

      %li.exp-item
        .container{data-hmm: "jquery"}
          .top
            %img.exp-image{src: "src/images/jquery.png"}

          .bottom
            %strong.title jQuery
            %p.text

      %li.exp-item
        .container{data-hmm: "grunt"}
          .top
            %img.exp-image{src: "src/images/grunt.png"}

          .bottom
            %strong.title Grunt
            %p.text

      %li.exp-item
        .container{data-hmm: "bower"}
          .top
            %img.exp-image{src: "src/images/bower.png"}

          .bottom
            %strong.title Bower
            %p.text

      %li.exp-item
        .container{data-hmm: "npm"}
          .top
            %img.exp-image{src: "src/images/npm.png"}

          .bottom
            %strong.title NPM
            %p.text

      %li.exp-item
        .container{data-hmm: "scss"}
          .top
            %img.exp-image{src: "src/images/scss.png"}

          .bottom
            %strong.title Sass
            %p.text

      %li.exp-item
        .container{data-hmm: "less"}
          .top
            %img.exp-image{src: "src/images/less.png"}

          .bottom
            %strong.title Less
            %p.text

      %li.exp-item
        .container{data-hmm: "rest"}
          .top
            %img.exp-image{src: "src/images/rest.png"}

          .bottom
            %strong.title REST API
            %p.text

      %li.exp-item
        .container{data-hmm: "node"}
          .top
            %img.exp-image{src: "src/images/node.png"}

          .bottom
            %strong.title Node.js
            %p.text

      %li.exp-item
        .container{data-hmm: "git"}
          .top
            %img.exp-image{src: "src/images/git.png"}

          .bottom
            %strong.title Git
            %p.text

      %li.exp-item
        .container{data-hmm: "linux"}
          .top
            %img.exp-image{src: "src/images/linux.png"}

          .bottom
            %strong.title Linux OS
            %p.text

      %li.exp-item
        .container{data-hmm: "sublime"}
          .top
            %img.exp-image{src: "src/images/sublime.png"}

          .bottom
            %strong.title Sublime Text
            %p.text

      %li.exp-item
        .container{data-hmm: "agile"}
          .top
            %img.exp-image{src: "src/images/agile.png"}

          .bottom
            %strong.title Agile
            %p.text

    .exp-detail
      .detail-container
        .title-container
          %img.detail-img{src: ""}
          %strong.detail-title

        .description-container
          %p.detail-bits

        .link-container
          %strong.title Related topics:
          %ul.detail-links-list

  .break

  .achievement-header
    .left
      %img.achieve{src: "src/images/achieve.png"}

    .right
      %h2.title Work Related Achievements?
      %p I really enjoy what I do. Sometimes my extra-curricular time is spent building skills for my curricular time. Sometimes it gets awards.

  .achievement-container
    %ul.achievement-list
      %li.achievement
        .left.not-image
          %strong.title 2013 TM Forum API Hackathon - San Franscisco, Ca - Parisoma
          %p Ryan Leckey, Erich Healy, and I designed and created a web application called
            %i &#32;Trading Post
            %span . We had a great time learning the various technologies and took home
              %strong &#32;Grand Prize
              %span &#32;for best overall use of the TM Forum APIs.

          %p With the prize came a complimentary stage pass to the 2013 TM Forum Digital Disruption event in San Jose, Ca. We were given a trophy on stage after a brief documentary of the hackathon event. It was a pretty cool life experience.

        .right.image-side
          %img.parisoma{src: "src/images/parisoma.jpg"}

      %li.achievement
        .left.not-image
          %strong.title 2013 Novartis Health Care Challenge - San Franscisco, Ca - SUPR Building
          %p Ryan Leckey, Erich Healy, Hardy Jones and I built a web application for the purpose of helping people adapt their lives to heart disease. We took home the
            %strong &#32;Mashery API Award
            %span &#32;for the most creative use of the Mashery APIs.

        .right.image-side
          %img.spur{src: "src/images/spur.jpg"}

      %li.achievement
        .left.not-image
          %strong.title Concordus Applications MVP - 2013
          %p I work hard to make an large impact on whatever project I have. This just felt good for my first year working here.

        .right.image-side
          %img.mvp{src: "src/images/mvp.png"}

  .break

  .education-header
    .left
      %img.education{src: "src/images/grad.png"}

    .right
      %h2.title Education?
      %p While pursuing a math degree in community college, a teacher recommended a programming course in C++. The logic math offers is satisfying. Programming is the real-world application of this feeling for me.

  .education-container
    %ul.degrees
      %li.degree
        .left
          #atom
            .orbit
              .path
                .electron

            .orbit
              .path
                .electron

            .orbit
              .path
                .electron

            .orbit
              .path
                .electron

            #nucleus

        .right
          %h4.title Associate in Science, Physical Science/Mathematics
          .school American River College, 2013

      %li.degree
        .left
          %img.cpp{src: "src/images/cpp.png"}

        .right
          %h4.title Associate in Science, Computer Information Science - Computer Programming: C++
          .school American River College, 2013

      %li.degree
        .left
          %img.java{src: "src/images/java.png"}

        .right
          %h4.title Associate in Science, Computer Information Science - Computer Programming: Java
          .school American River College, 2013
